@using Articles.Domain.DTOs
@model PreviewedArticleDTO[]
@{
    ViewData["Title"] = "首页";
}
@section breadcrumb
{
	<li><a href="~/">首页</a></li>
	<li>文章</li>
}
<div class="row">
    @foreach(var a in Model)
    {
        var aUrl = Url.Action("Article",new{id=a.Id});
        var imgUrl = a.HeaderImgUrl;
        if(string.IsNullOrWhiteSpace(imgUrl))
        {
            imgUrl = Url.Content("~/assets/images/blog/1.jpg");
        }
        <div class="col-md-6 col-12 mb-30">
        <div class="blog-item">
            <div class="blog-item_img">
                <a href="@aUrl"><img class="full-width" src="@imgUrl" alt="blog img"></a>
            </div>
            <div class="blog-item_content">
                <p class="mb-10"><a href='@aUrl'>@a.CreationDateTime</a></p>
                <h4 class="mb-30"><a href='@aUrl'>@a.Title</a></h4>
                <a href="@aUrl">阅读本文</a>
            </div>
        </div>
    </div>                    
    }
</div>
<!--
<div class="row mt-20">
    <div class="col">
        <ul class="pagenation">
            <li><a href="#">next</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">prev</a></li>
        </ul>
    </div>
</div>
-->